<!DOCTYPE html>
<html lang="en">
  <head>

  	<style type="text/css">
  		body {
  			background-color: rgb(255, 255, 255);
    		background-image: linear-gradient(to left, rgb(236, 233, 230), rgb(255, 255, 255));
  		}
  	</style>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DoctorPortal - Register</title>

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.css" rel="stylesheet">

    <!-- FontAwesome Icons -->
    <link href="/dist/css/font-awesome.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="/css/main.css" rel="stylesheet">

  </head>

  <body>

    <div class="container" id="register-container">
    	<div class="card text-center" style="border-color: #333">

			  <div class="card-header card-inverse mb-3" style="background-color: #333; border-color: #333; color: white;">
			    <div>
				    <i class="fa fa-heartbeat fa-2x" aria-hidden="true" style="color: rgb(0,152,213);"></i>
				    <span style="font-size: 30px;">DoctorPortal</span>
			    </div>
			  </div>

			  <div class="card-block">
          <span class="mb-3">Fill out the form below to complete your account registration.</span>
          <form method="post" action="register">
          <div class="input-group mb-2 mt-4">
            <span class="input-group-addon"><i class="fa fa-lock fa-fw" aria-hidden="true"></i></span>
            <input id="register-hospital-id" class="form-control" type="text" placeholder="Hospital PIN" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Unique PIN provided by your hospital.">
          </div>
          <div class="input-group mb-2">
            <span class="input-group-addon"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i></span>
            <input id="register-recovery-email" class="form-control" type="text" placeholder="Recovery Email" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Your hospital's email address (preferred).">
          </div>
			    <div class="input-group mb-2">
					  <span class="input-group-addon"><i class="fa fa-user-md fa-fw"></i></span>
					  <input class="form-control" type="text" name="username" placeholder="Username">
					</div>
					<div class="input-group mb-2">
					  <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
					  <input class="form-control" type="password" name="password" placeholder="Password">
					</div>
          <div class="input-group mb-4">
            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
            <input class="form-control" type="password" placeholder="Re-enter Password">
          </div>

			    <input type="submit" class="btn btn-success mb-1" value="Complete Registration"
        </form>
			  </div>
			</div>
    </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="/dist/js/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="/dist/js/bootstrap.min.js"></script>

    <script src="/james_js/register.js" type="text/javascript"></script>

  </body>
</html>
