<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DoctorPortal - Scheduling</title>

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/dist/css/bootstrap-datepicker.css" rel="stylesheet" type="text/css">

    <!-- FontAwesome Icons -->
    <link href="/dist/css/font-awesome.css" rel="stylesheet" type="text/css">

    <!-- Navbar and side panel styling for all pages -->
    <link href="/css/dashboard.css" rel="stylesheet">

    <!-- Main stlying (James) -->
    <link href="/css/main.css" rel="stylesheet">

  </head>

  <body>
  
        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">

          <div class="modal fade" id="editSchedule-modal" tabindex="-1" role="dialog" aria-labelledby="editSchedule-modal-label" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="editSchedule-modal-label"><i class="fa fa-user" aria-hidden="true"></i> Patient Name</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div class="modal-body">
                  <form>
                    <div class="form-group">
                      <label for="medication-name" class="form-control-label">Medication:</label>
                      <input type="text" class="form-control" id="medication-name" placeholder="Current Med">
                    </div>

                    <div class="form-group">
                      <label for="message-text" class="form-control-label">Time Slots:</label>

                      <div class="row">
                        <div class="col-sm-3 mr-neg-20">
                          <button class="btn btn-primary btn-sm btn-addtime"><i class="fa fa-plus"></i> Add Time</button>
                        </div>

                        <div class="col-sm-4">
                          <div class="input-group input-group-sm">
                            <div class="input-group-btn">
                              <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-cog" aria-hidden="true"></i>
                              </button>
                              <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Edit</a>
                                <div role="separator" class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Delete</a>
                              </div>
                            </div>
                            <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="8:00 AM">
                          </div>
                        </div>
                      </div>

                    </div>

                    <div class="form-group">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="input-group date" id="editSchedule-datepicker">
                            <input type="text" class="form-control" placeholder="End Date">
                            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="dropdownMenuButton" class="form-control-label">Recurrences:</label>
                      <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          None
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">Daily</a>
                          <a class="dropdown-item" href="#">Weekly</a>
                          <a class="dropdown-item" href="#">Custom</a>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban" aria-hidden="true"></i> Cancel</button>
                  <button type="button" class="btn btn-success"><i class="fa fa-check-circle" aria-hidden="true"></i> Save</button>
                </div>
              </div>
            </div>
          </div>

          <div class="row pb-4">
            <div class="col-sm-7"><h1>Schedules</h1></div>
            <div class="col-sm-2 pr-0 pl-4 mr-neg-40 ml-pos-40">
              <button class="btn btn-primary"><i class="fa fa-plus"></i> Create New</button>
            </div>

            <div class="col-sm-3 pl-0">
              <div class="input-group">
                <input class="form-control" type="password" placeholder="Search Schedules">
                <span class="input-group-addon"><i class="fa fa-address-card-o" aria-hidden="true"></i></span>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table id="table-schedule-instances" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Patient ID</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Medication</th>
                  <th>Creation Date</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>dolor</td>
                  <td>sit</td>
                </tr>
                <tr>
                  <td>1,002</td>
                  <td>amet</td>
                  <td>consectetur</td>
                  <td>adipiscing</td>
                  <td>elit</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>Integer</td>
                  <td>nec</td>
                  <td>odio</td>
                  <td>Praesent</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>libero</td>
                  <td>Sed</td>
                  <td>cursus</td>
                  <td>ante</td>
                </tr>
                <tr>
                  <td>1,004</td>
                  <td>dapibus</td>
                  <td>diam</td>
                  <td>Sed</td>
                  <td>nisi</td>
                </tr>
                <tr>
                  <td>1,005</td>
                  <td>Nulla</td>
                  <td>quis</td>
                  <td>sem</td>
                  <td>at</td>
                </tr>
                <tr>
                  <td>1,006</td>
                  <td>nibh</td>
                  <td>elementum</td>
                  <td>imperdiet</td>
                  <td>Duis</td>
                </tr>
                <tr>
                  <td>1,007</td>
                  <td>sagittis</td>
                  <td>ipsum</td>
                  <td>Praesent</td>
                  <td>mauris</td>
                </tr>
                <tr>
                  <td>1,008</td>
                  <td>Fusce</td>
                  <td>nec</td>
                  <td>tellus</td>
                  <td>sed</td>
                </tr>
                <tr>
                  <td>1,009</td>
                  <td>augue</td>
                  <td>semper</td>
                  <td>porta</td>
                  <td>Mauris</td>
                </tr>
                <tr>
                  <td>1,010</td>
                  <td>massa</td>
                  <td>Vestibulum</td>
                  <td>lacinia</td>
                  <td>arcu</td>
                </tr>
                <tr>
                  <td>1,011</td>
                  <td>eget</td>
                  <td>nulla</td>
                  <td>Class</td>
                  <td>aptent</td>
                </tr>
                <tr>
                  <td>1,012</td>
                  <td>taciti</td>
                  <td>sociosqu</td>
                  <td>ad</td>
                  <td>litora</td>
                </tr>
                <tr>
                  <td>1,013</td>
                  <td>torquent</td>
                  <td>per</td>
                  <td>conubia</td>
                  <td>nostra</td>
                </tr>
                <tr>
                  <td>1,014</td>
                  <td>per</td>
                  <td>inceptos</td>
                  <td>himenaeos</td>
                  <td>Curabitur</td>
                </tr>
                <tr>
                  <td>1,015</td>
                  <td>sodales</td>
                  <td>ligula</td>
                  <td>in</td>
                  <td>libero</td>
                </tr>
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="/dist/js/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="/dist/js/moment-with-locales.js" type="text/javascript"></script>
    <script src="/dist/js/bootstrap.min.js"></script>
    <script src="/dist/js/bootstrap-datepicker.js" type="text/javascript"></script>

    <script src="/james_js/scheduling.js" type="text/javascript"></script>
  </body>
</html>
