<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DoctorPortal - Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap/bootstrap.css" rel="stylesheet">

    <link href="/dist/css/bootstrap/bootstrap-table.css" rel="stylesheet">

    <!-- FontAwesome Icons -->
    <link href="/dist/css/font-awesome/font-awesome.css" rel="stylesheet" type="text/css">

    <!-- Main stlying (James) -->
    <link href="/css/main.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbar-main-top" aria-controls="navbar-main-top" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <a class="navbar-brand" href="/users/admin"><i class="fa fa-heartbeat fa-1x mr-1" aria-hidden="true" style="color: rgb(0,152,213);"></i>DoctorPortal</a>

      <div class="collapse navbar-collapse" id="navbar-main-top">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/users/admin">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>

        <ul class="navbar-nav">
          <li>
            <a class="nav-link" href="/users/logout"><i class="fa fa-lock fa-1x mr-2" aria-hidden="true"></i>{{user.username}}</a>
          </li>
        </ul>

      </div>
    </nav>
        {{{body}}}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="/dist/js/jquery/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="/dist/js/bootstrap/bootstrap.min.js"></script>
    <script src="/dist/js/bootstrap/bootstrap-table.js" type="text/javascript"></script>
    <script src="/james_js/admin.js" type="text/javascript"></script>
  </body>
</html>
