<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/css/error.css" rel="stylesheet">
  </head>
<body>


<!--<pre>{{error.stack}}</pre> -->
<div class="book">
<img src="/images/book-icon.png">
<h1>{{message}}</h1>
</div>

<div class="docicon">
  <h2>{{type}}</h2>
<img src="/images/doc-error.png" width="200" height="185" >
</div>
<div class="back">
<a href="/">Go Home</a>
</div>

</body>

</html>
