

    <div class="container-fluid">
      <div class="row">

        <main class="col-sm-12 pt-3">

          <div class="row">
            <div class="col-sm-12"><h1 class="mb-3">Frequently Asked Questions</h1></div>
          </div>

          <div class="container-fluid ml-100 mr-100 mb-60 mt-50">

            <h5 class="faq-h">I dont see some of my patients on the Patients page. Why is that?</h5>
            <ul>
              <li>If you are not able to see or access one of your patients, chances are that he or she has yet to be assigned to your account (especially if they were just
              recently registered with your hospital). If that is the case, contact the appropriate administrator and your hospital.
              </li>
            </ul>

            <hr>

            <h5 class="faq-h">I'd like to access more information from a result on the MediBase page. Can I do that?</h5>
            <ul>
              <li>At the moment, the MediBase page is limited to what you can already see by defauly when selecting a search result. If you want or need to see more information about medications,
              you can make a specific request to the your <b>Systems Administrator</b> about enabling more information to be shown in a result.
              </li>
            </ul>

            <hr>

            <h5 class="faq-h">How will I know when the regimen I created or editied is sent to my patient?</h5>
            <ul>
              <li>As soon as you have saved a regimen (new or existing), it will be sent to the patient within 30 minutes. As long as no errors occured when saving
              your regimen, you can be assured that it was succesfully saved to the database and will be sent to your patient.
              </li>
            </ul>

            <hr>

            <h5 class="faq-h">I clicked the Replicate Week checkbox and all of my timeslots after that week have been disabled. Is that normal?</h5>
            <ul>
              <li>Yes, this is perfectly normal. When you choose to replicate a week, all successive days from that selected week are filled with the corresponding
              data from the replicated week and are disabled. This is done to ensure the week is actually 'replicated', and that the regimen doesn't produce faulty data.
              </li>
              <li>This also allows you to make updates to the selected replicate week, that will automatically reflected on the successive dates in a
              'live-update' type manner.</li>
            </ul>

            <hr>

            <h5 class="faq-h">I created a Regimen starting on today's date and realized I needed to make a change on a timeslot that has already been disabled. What should I do?</h5>
            <ul>
              <li>If the timeslot or timeslot(s) that you created are not within 30 minutes or less of their scheduled time, fear not! They have yet to be sent to your patient.
              At this point, you should simply delete the regimen, and re-create it with the corrected timeslots that you wish to use.
              </li>
            </ul>

            <hr>

            <div class="text-center mt-40"><span>If you still have questions that were not answered by this page, please contact your <b>Systems Administrator</b>.</span></div>

          </div>
        </main>
      </div>
    </div>
