<div class="container-fluid">
     <div class="row">

       <main class="col-sm-12 pt-3">

         <div class="row">
           <div class="col-sm-12"><h1 class="mb-3">Home</h1></div>
         </div>

         <div class="container-fluid ml-100 mr-100" style="min-width: 700px;">

           <div class="row mt-4">
             <div class="col-sm-12"><h2 class="pt-3 mb-3">Main Actions</h2></div>
           </div>

           <div class="row text-center">
             <div class="col-sm-6">
               <div class="card card-clickable card-home-action" id="action-patients">
                 <div class="card-block">
                   <h3 class="card-title pb-2">Patients</h3>
                   <i class="fa fa-address-book-o fa-4x pb-3" aria-hidden="true"></i>
                   <hr>
                   <ul class="text-left">
                     <li>View your Patients</li>
                     <li>Create / Edit regimens</li>
                   </ul>
                 </div>
               </div>

             </div>

             <div class="col-sm-6">
               <div class="card card-clickable" id="action-medibase">
                 <div class="card-block card-home-action">
                   <h3 class="card-title pb-2">MediBase</h3>
                   <i class="fa fa-search fa-4x pb-3" aria-hidden="true"></i>
                   <hr>
                   <ul class="text-left">
                     <li>Search the Medication Database</li>
                     <li>Get the details of any medication</li>
                   </ul>
                 </div>
               </div>
             </div>
           </div>

           <div class="row mt-4">
             <div class="col-sm-12"><h2 class="pt-3 mb-3">Extra</h2></div>
           </div>

           <div class="row text-center">
             <div class="col-sm-12 pb-3">
               <div class="card card-clickable" id="action-how-to-guide">
                 <div class="card-block card-home-extra">
                   <h3 class="card-title" style="display: inline;"><i class="fa fa-book fa-1x" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;How-To-Guide</h3><span class="float-right" style="padding-top: 4px;">New to DoctorPortal? Click here to get started.</span>
                 </div>
               </div>

             </div>

             <div class="col-sm-12">
               <div class="card card-clickable" id="action-faq">
                 <div class="card-block card-home-extra">
                   <h3 class="card-title" style="display: inline;"><i class="fa fa-question-circle fa-1x" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;FAQ</h3><span class="float-right" style="padding-top: 3px;">Have questions? Click here for answers.</span>
                 </div>
               </div>
             </div>
           </div>


         </div>
       </main>
     </div>
   </div>

   <!-- Tether (used by Bootstrap) -->
   <script src="/dist/js/bootstrap/tether.min.js"></script>
