<div class="container-fluid">
  <div class="row">

    <main class="col-sm-12 pt-3">

      <div class="row">
        <div class="col-sm-12"><h1 class="mb-3">Home</h1></div>
      </div>

      <div class="container-fluid ml-50 mr-50">
        <div class="row">
          <div class="col-sm-12"><h2 class="pt-3 mb-3">Notifications</h2></div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="card card-clickable mb-3 text-left">
              <div class="card-block card-notification">
              <p>New Patients <span class=" pull-right badge bs-blue">3</span></p>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="card card-clickable mb-3 text-left">
              <div class="card-block card-notification">
              <p>Inquiries <span class=" pull-right badge bs-red">5</span></p>
              </div>
            </div>
          </div>
        </div>

        <div class="mt-5">
          <hr>
        </div>

        <div class="row mt-4">
          <div class="col-sm-12"><h2 class="pt-3 mb-3">Actions</h2></div>
        </div>

        <div class="row text-center">
          <div class="col-sm-4">
            <div class="card card-clickable" id="action-patients">
              <div class="card-block">
                <h3 class="card-title pb-2">Patients</h3>
                <i class="fa fa-address-book-o fa-5x pb-3" aria-hidden="true"></i>
                <hr>
                <ul class="text-left">
                  <li>View your Patients</li>
                  <li>Create / Edit regimens</li>
                </ul>
              </div>
            </div>

          </div>

          <div class="col-sm-4">
            <div class="card card-clickable" id="action-medibase">
              <div class="card-block">
                <h3 class="card-title pb-2">MediBase</h3>
                <i class="fa fa-search fa-5x pb-3" aria-hidden="true"></i>
                <hr>
                <ul class="text-left">
                  <li>Search the Medication Database</li>
                  <li>View any medication's notes</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card card-clickable">
              <div class="card-block">
                <h3 class="card-title pb-2">Settings</h3>
                <i class="fa fa-cog fa-5x pb-3" aria-hidden="true"></i>
                <hr>
                <ul class="text-left">
                  <li>Customize your Portal layout</li>
                  <li>Edit your notification system</li>
                </ul>
              </div>
            </div>
          </div>

      </div>
    </main>
  </div>
</div>
<script src="/james_js/index.js" type="text/javascript"></script>
