
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}


/* global badge styling */
.badge {
	font-size: 1rem;
	color: white;
	width: 24px;
	border-radius: 50%;
}

/* bootstrap color copies */
.bs-blue {
	background-color: #0275D8; /* btn-primary color*/
}

.bs-red {
	background-color: #D9534F; /* btn-danger color*/
}

/* global card styling */
.card {
	background-color: #f6f6f6;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
	transition: .3s ease-in-out;
}

.card-clickable:hover {
	cursor: pointer;
	background-color: #e3e3e3;
}

/* index.html (notifiaction cards) */
.card-notification {
	padding-top: 15px !important;
	padding-bottom: 15px !important;
	height: 3.5rem;
}

/* patientProfile.html */
.card-patient-profile {
	height: 25.6rem;
}

/* patients.html (table) */
.dp-table-modal {
  cursor: pointer;
}

/* custom margin adjustments */
.ml-50 {
	margin-left: 50px;
}

.mr-50 {
	margin-right: 50px;
}

.mt-75 {
	margin-top: 75px;
}

.mt-40 {
	margin-top: 40px;
}
